<div class="room__container">
    <div class="header">
        <div class="name">
            {{room.name}}
        </div>
    </div>
    <div class="body">
        <div class="grid">
            <div class="row m-gutters">
                <div class="col l-3">
                    <div class="label">Loại phòng</div>
                    <div class="room-type">
                        <div class="image__container">
                            <div class="image__wrapper">
                                <img src="https://pix8.agoda.net/hotelImages/31317134/-1/e53e15e3c4d94d95d8730d1c884cae42.jpg?ce=0&s=208x117&ar=16x9"
                                    alt="">
                            </div>
                            <div class="row sm-gutters">
                                <div class="col l-6">
                                    <div class="image__wrapper">
                                        <img src="https://pix8.agoda.net/hotelImages/31317134/-1/e53e15e3c4d94d95d8730d1c884cae42.jpg?ce=0&s=208x117&ar=16x9"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col l-6">
                                    <div class="image__wrapper">
                                        <img src="https://pix8.agoda.net/hotelImages/31317134/-1/e53e15e3c4d94d95d8730d1c884cae42.jpg?ce=0&s=208x117&ar=16x9"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-9">
                    <div class="row h-fit no-gutters right" style="overflow: hidden;">
                        <div class="col l-4">
                            <div class="label">Giá này đã gồm</div>
                            <div class="room__info content-col">
                                <div class="benefit__wrapper">
                                    <strong class="fs-12">Lợi ích</strong>
                                    <div class="benefits">
                                        <ng-container *ngFor="let b of [1,1,1]; index as i">
                                            <div class="benefit__item">
                                                <i class="fa-solid fa-check"></i>
                                                <span>Benefit {{i}}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-2">
                            <div class="label">Sức chứa</div>
                            <div class="capacity content-col">
                                <div class="capacity__list">
                                    <div class="capacity__item">
                                        {{room.maxAdults}} <span>x</span> <i class="fa-solid fa-child"></i>
                                    </div>
                                    <div class="capacity__item" *ngIf="room.maxChildren > 0">
                                        {{room.maxChildren}} <span>x</span> <i class="fa-solid fa-child-reaching"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="label">Thanh toán và huỷ bỏ</div>
                            <div class="payment content-col">
                                <div class="payment__item">
                                    <strong class="fs-12">Thanh toán online</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="label">Giá phòng/đêm</div>
                            <div class="price__wrapper">
                                <div class="price__item">
                                    <div class="origin-price__wrapper">
                                        <span>{{
                                            room.originPrice | currency : "VND"
                                            }}</span>
                                    </div>
                                </div>
                                <div class="price__item">
                                    <div class="origin-price__wrapper">
                                        <span>{{
                                            room.rentalPrice | currency : "VND"
                                            }}</span>
                                    </div>
                                </div>
                                <span class="fs-12 mr-b-5">Giá mỗi đêm rẻ nhất từ</span>
                                <div class="price__item">
                                    <div class="rental-price__wrapper">
                                        <span>{{
                                            room.finalPrice | currency : "VND"
                                            }}</span>
                                    </div>
                                </div>
                                <div class="space m"></div>
                                <div class="button__wrapper">
                                    <button class="w-fit" mat-raised-button color="primary"
                                        (click)="onProceedToCheckout()">Đặt
                                        ngay</button>
                                </div>
                                <div class="button__wrapper">
                                    <button class="w-fit" mat-stroked-button color="primary"
                                        (click)="onAddToCart()">Thêm vào xe đẩy
                                        hàng</button>
                                </div>
                                <!-- <div class="free-cancellation" *ngIf="searchedProduct.isFreeCancellation">+ Miễn phí huỷ phòng</div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>