<form class="content-basic" [formGroup]="rfBasic">

  <div class="card-header">
    <div class="card-header-left">
      <p class="content-header-one">Giúp bạn tiếp cận đối tượng khách hàng phù hợp nhất.</p>
      <p>Vui lòng cung cấp mọi thông tin được yêu cầu trừ khi có đánh dấu không bắt buộc.</p>
    </div>
    <div class="card-header-right">
      <img src="https://img.agoda.net/images/header/ec-basics@2x.png" alt="">
    </div>
  </div>
  <p class="content-header-two">Trước hết, hãy cung cấp cho chúng tôi đường dẫn danh sách chỗ ở Airbnb của quý đối
    tác</p>
  <div class="highlight-lable">
    Tải Lên Nhanh
  </div>
  <div class="panel-highlight">
    <div class="panel-highlight-body">
      <div class="panel-highlight-form">
        <label>Làm chủ nhà trên Airbnb rồi ư?</label>
        <p>Hãy cung cấp cho chúng tôi đường dẫn danh sách chỗ ở Airbnb của quý đối tác và chúng tôi sẽ chuyển nhập hầu
          hết nội dung từ danh sách chỗ ở Airbnb của quý đối tác.</p>
        <div class="panel-highlight-form-input">
          <input type="text" placeholder="Nhập cùng một đường dẫn danh sách chỗ ở mà khách có thể sử dụng.">
          <button>CHUYỂN NHẬP</button>
        </div>
      </div>
    </div>
    <div class="panel-highlight-bottom">
      <label>Có hơn 5 chỗ nghỉ trên Airbnb ư?</label>
      <a href="#">Hãy sử dụng công cụ chuyển nhập nhiều chỗ nghỉ của chúng tôi
      </a>
    </div>
  </div>

  <div class="panel-business">
    <p>Cơ sở kinh doanh</p>
    <div class="panel-business-form">
      <label>Loại hình</label>
      <p>Chọn một loại hình chỗ nghỉ</p>
      <ul class="list-business">
        <li class="item-business" *ngFor="let i of _listComparisonBusiness">
          <button>
            <mat-icon>{{i.icon}}</mat-icon>

            <span (click)="changValueComparisonBusiness(i.name)">
                {{i.name}}
              </span>
          </button>
        </li>


      </ul>
      <label>Bạn không thấy loại hình lưu trú cần có? Muốn đăng mặt bằng riêng hoặc phòng ở chung?</label>
      <a>Hãy đăng lên Agoda YCS</a>
      <div class="panel-business-form-input">
        <input type="text" formControlName="numComparisionBusiness" >
        <span>mét vuông</span>
      </div>

    </div>
  </div>

  <div class="panel-detail-room">
    <p>Chi tiết phòng ở</p>
    <div class="panel-detail-room-form">
      <div class="panel-detail-room-form-item">
        <label>Sức chứa</label>
        <p>Số lượng người tối đa có thể ngủ thoải mái theo số lượng giường và sofa cung cấp.</p>
        <div class="panel-detail-room-form-input">
          <button (click)="minusAccommodations()">
            <p>-</p>

          </button>
          <input type="text" min="1" max="30" formControlName="numAccommodations" [(ngModel)]="numAccommodations">
          <button (click)="plusAccommodations()">
            <p>+</p>
          </button>
        </div>
      </div>
      <div class="panel-detail-room-form-item">
        <label>Phòng tắm</label>
        <p>Chỉ đếm số lượng phòng tắm trong nơi ở của bạn, không phải phòng tắm chung trong toà nhà hoặc chung cư.

        </p>
        <div class="panel-detail-room-form-input">
          <button (click)="minusBathroom()">
            <p>-</p>

          </button>
          <input type="text" min="1" max="30" formControlName="numBathroom" [(ngModel)]="numBathroom">
          <button (click)="plusBathroom()">
            <p>+</p>
          </button>
        </div>
      </div>
      <div class="panel-detail-room-form-item">
        <label>Phòng ngủ</label>
        <p>Nếu chỗ ở của bạn là phòng gác mái hoặc studio, số lượng phòng ngủ là 0.

        </p>
        <div class="panel-detail-room-form-input">
          <button (click)="minusBedroom()">
            <p>-</p>

          </button>
          <input type="text" min="1" max="30" formControlName="numBedroom" [(ngModel)]="numBedroom">
          <button (click)="plusBedroom()">
            <p>+</p>
          </button>
        </div>

      </div>

    </div>


    <div class="panel-detail-room-form">
      <div class="panel-detail-room-form-item">
        <label>Phòng 1</label>
        <div class="panel-detail-room-form-input-box">
          <div class="panel-detail-room-form-input-left">
            <button (click)="minusRoomOne()">
              <p>-</p>

            </button>
            <input type="text" min="1" max="30" formControlName="numRoomOne" [(ngModel)]="numberRoomOne">
            <button (click)="plusRoomOne()">
              <p>+</p>
            </button>
          </div>
          <div class="panel-detail-room-form-input-right">
            <select formControlName="typeRoomOne" [(ngModel)]="defaultTypeRoomOne">
              <option selected>Giường đơn</option>
              <option>Giường đôi nhỏ</option>
              <option>Giường đôi</option>
              <option>Giường đôi lớn</option>
            </select>
          </div>
        </div>
        <div class="add-bedtype-text">
          THÊM LOẠI GIƯỜNG KHÁC
        </div>

      </div>
      <div class="panel-detail-room-form-item">
        <label>Không gian chung</label>
        <p>Có thêm giường ở khu vực không gian chung không?</p>
        <div class="panel-detail-room-form-input-box">
          <div class="panel-detail-room-form-input-left">
            <button (click)="minusCommon()">
              <p>-</p>

            </button>
            <input type="text" min="1" max="30" formControlName="numCommon" [(ngModel)]="numberCommon">
            <button (click)="plusCommon()">
              <p>+</p>
            </button>
          </div>
          <div class="panel-detail-room-form-input-right">
            <select formControlName="typeCommon" [(ngModel)]="defaultTypeCommon">
              <option selected>Giường đơn</option>
              <option>Giường đôi nhỏ</option>
              <option>Giường đôi</option>
              <option>Giường đôi lớn</option>
            </select>
          </div>
        </div>
        <div class="add-bedtype-text">
          THÊM LOẠI GIƯỜNG KHÁC
        </div>

      </div>
    </div>
  </div>

</form>
<div class="action-basic">
  <a>LƯU VÀ THOÁT</a>
  <button class="btn-basic-submit"

  >
        <a

          [routerLink]="['/lease/create/location']"
          (click)="onSubmit()"
        >TIẾP THEO</a>

  </button>
</div>

