<div class="product-list__wrapper">
    <ul class="product__list">
        <!-- <ng-container>
            <app-product-item [searchedProduct]="searchedProduct">
            </app-product-item>
        </ng-container> -->
        <ng-container *ngIf="(searchedProductResponse$ | async) as searchedProductResponse">
            <ng-container *ngIf="searchedProductResponse.searchedProduct">
                <app-product-item [searchedProduct]="searchedProductResponse.searchedProduct" [isSearchedProduct]="true">
                </app-product-item>
            </ng-container>
            <ng-container *ngFor="let relativeSearchedProduct of  searchedProductResponse.relativeSearchedProducts">
                <app-product-item [searchedProduct]="relativeSearchedProduct">
                </app-product-item>
            </ng-container>
        </ng-container>
    </ul>
</div>