<form class="content-pricing" [formGroup]="rfPricing" >
  <div class="card-header">
    <div class="card-header-left">
      <p class="content-header-one">Thiết lập mức giá.</p>
      <p>Chọn giá phòng mỗi đêm theo số lượng khách và các điều kiện khác.
      </p>
    </div>
    <div class="card-header-right">
      <img src="https://img.agoda.net/images/header/ec-pricing@2x.png" alt="">
    </div>
  </div>
  <div class="panel-recommendation"><strong>Lưu ý!</strong>
    <p>Quý đối tác có thể định giá và khả năng cung cấp phòng bằng cách chọn người quản lý Kênh hoặc bằng cách cung cấp
      giá hằng đêm.</p>

  </div>
  <div class="panel-channel">
    <p>Người quản lý kênh (không bắt buộc)</p>
    <span>Vui lòng chọn người quản lý kênh để khớp giá và khả năng cung cấp phòng của quý đối tác. Sau đó một thư điện tử sẽ được gửi cho quý đối tác để làm việc này. Nếu không nhận được thư điện tử này thì vui lòng liên lạc với chúng tôi để được hỗ trợ.</span>
    <div class="panel-channel-form">
      <p>Quý đối tác muốn dùng người quản lý kênh cho chỗ nghỉ này không?</p>
      <div class="channel-item" *ngFor="let cm of _channelManager">
        <input type="radio"


               value="{{cm.name}}"
               formControlName="managerChannel"
        >

        <span>
          {{cm.name}}
            </span>

      </div>

    </div>
  </div>
  <div class="panel-price">
    <p>Giá mỗi đêm</p>
    <span>Vui lòng nhập giá mỗi đêm của quý đối tác cho chỗ nghỉ này. Nếu quý đối tác đang dùng người quản lý kênh thì chúng tôi sẽ đồng bộ các giá này giữa các nền tảng một khi đã khớp giá.Tìm hiểu về giá, tiền hoa hồng, và thu nhập.</span>
    <div class="panel-price-form">
      <p>Lượng người tối đa có thể ngủ ở chỗ bạn là 4</p>
      <div class="panel-price-form-input">
        <p>Giá mỗi đêm</p>
        <div class="panel-price-form-input-price">
          <input type="number"  formControlName="price">
          <span>EUR</span>
        </div>
      </div>

    </div>
  </div>
  <div class="panel-payment">
    <p>Hình thức thanh toán</p>
    <span>Vui lòng chọn hình thức thanh toán. Các thông tin bổ sung sẽ được yêu cầu thêm sau khi đăng lên Agoda. [Lưu ý quan trọng] Vì lý do an ninh, khoản thanh toán đầu tiên cho bạn sẽ là 30 ngày kể từ ngày trả phòng của đặt phòng đầu tiên. Đối với các đặt phòng kế tiếp, thanh toán sẽ được thực hiện 24 giờ sau ngày khách rời đi.</span>
    <div class="panel-payment-form">

      <div class="payment-item" *ngFor="let item of _paymentList">
        <input type="radio"

               value="{{item.title}}"
 formControlName="payment"
>
        <div class="payment-name">
          <p>
            {{item.title}}
          </p>
          <span>
          {{item.desc}}
            </span>
        </div>
      </div>

    </div>
  </div>

</form>
<div class="action-pricing">
  <a>LƯU VÀ THOÁT</a>
  <div class="action-btn">
    <button class="btn-pricing-return">
      <a [routerLink]="['/lease/create/amenities']">TRƯỚC</a>
    </button>

    <button class="btn-pricing-submit">
      <a
        [routerLink]="['/lease/create/photos']"
        (click)="submitForm()"


      >TIẾP THEO</a>
    </button>
  </div>
</div>
