
.container-create{
  width: 100%;
  background: #FDFDFD;
}
mat-sidenav-container{
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  min-height: 500px;
  background: #FDFDFD;
}
mat-sidenav{
  width: 200px;
  background: #FFFFFF;

}
mat-sidenav-content{
  background: #FCFCFC;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}
