<div class="header-container box-shadow-bh">
    <div class="logo-wrapper" routerLink="/home">
        <img src="assets/logo/logo.png" alt="">
    </div>
    <div class="d-flex-bh flex-row-reverse-bh align-items-center-bh">
        <div class="button-group d-flex-bh">
            <div class="wrap-fit">
                <button class="primary-bg--hover" mat-button color="primary" routerLink="/login">Đăng nhập</button>
            </div>
            <div class="wrap-fit">
                <button mat-stroked-button color="primary" routerLink="/register">Tạo tài khoản</button>
            </div>
        </div>
        <a class="cart-wrapper " routerLink="/cart">
            <app-cart-svg></app-cart-svg>
        </a>
        <div class="lease-wrapper">
            <button mat-stroked-button color="accent" class="btn btn-l">Đăng ký cho thuê</button>
        </div>
    </div>
</div>
