<div class="home-banner">
    <div class="home-banner__background-image"></div>
    <div class="banner-filter-container grid wide">
        <div class="welcome-message">
            <h2>{{ selectedTab.title }}</h2>
            <p>{{ selectedTab.subtitle }}</p>
        </div>
        <div class="banner_filter">
            <div class="tab-list box-shadow-bh-1">
                <div class="tab-item" *ngFor="let i of tabList; index as idx"
                    [class.active]="selectedTab.idx === idx"
                    [ngSwitch]="i.icon" (click)="sltTab(i)">
                    <div class="d-flex-bh align-items-center-bh">
                        <div class="icon-wrapper mr-r-10">
                            <ng-container *ngSwitchCase="'0'">
                                <ng-container
                                    [ngTemplateOutlet]="hotelAndHomeSvg"></ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'1'">
                                <ng-container
                                    [ngTemplateOutlet]="privateHomeSvg"></ng-container>
                            </ng-container>
                        </div>
                        <span>
                            {{ i.label }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <form class="filter-form form-default">
                    <div class="button-group__wrapper d-flex-bh
                        align-items-center-bh">
                        <div class="button__wrapper" *ngFor="let i of stayTypes;
                            index as idx">
                            <button (click)="sltStayType(i)" type="button"
                                class="white-bg" mat-stroked-button
                                color="primary"
                                [class.btn-primary]="selectedStayType.idx ===
                                idx">
                                {{ i.label }}
                            </button>
                        </div>
                    </div>
                    <div class="line-form">
                        <div class="icon__wrapper">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nhập địa danh hoặc vị trí</mat-label>
                            <input matInput placeholder="Ex. Thành phố Hồ Chí Minh">
                          </mat-form-field>
                    </div>
                    <div class="d-flex-bh">
                        <div class="wrap-fit">
                            <div class="line-form">
                                <div class="line-form__fit-item">
                                    <mat-form-field class="w-fit" appearance="fill">
                                        <mat-datepicker #startPicker></mat-datepicker>
                                        <mat-label>Chọn ngày đi</mat-label>
                                        <input matInput
                                        [matDatepicker]="startPicker">
                                        <mat-datepicker-toggle matSuffix
                                            [for]="startPicker">
                                            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                                        </mat-datepicker-toggle>
                                    </mat-form-field>
                                </div>
                                <div class="line-form__fit-item">
                                    <mat-form-field class="w-fit" appearance="fill">
                                        <mat-datepicker #endPicker></mat-datepicker>
                                        <mat-label>Chọn ngày về</mat-label>
                                        <input matInput
                                        [matDatepicker]="endPicker">
                                        <mat-datepicker-toggle matSuffix
                                            [for]="endPicker"></mat-datepicker-toggle>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="wrap-fit">
                            <div class="line-form" id="occupancy-box">
                                <div class="w-fit d-flex-bh" (click)="isToggleOccupancy = !isToggleOccupancy">
                                    <div class="icon__wrapper">
                                        <i class="fa-solid fa-user-group"></i>
                                    </div>
                                    <div class="occupancy-selection">
                                        <div class="info-group">
                                            <p>{{occupancyOptions[1].value}} người lớn <span *ngIf="occupancyOptions[2].value > 0">, {{occupancyOptions[2].value}} trẻ em</span></p>
                                            <span>{{occupancyOptions[0].value}} phòng</span>
                                        </div>
                                        <div class="arrow-down__wrapper" [class.toggle]="isToggleOccupancy" (click)="isToggleOccupancy = !isToggleOccupancy">
                                            <i class="fa-solid fa-angle-down"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="occupancy__popup" *ngIf="isToggleOccupancy">
                                    <div class="occupancy-option__list">
                                        <div class="occupancy-option__item" *ngFor="let i of occupancyOptions">
                                            <div class="info-group">
                                                <div class="label">{{i.label}}</div>
                                                <span class="sub-label">{{i.subLabel}}</span>
                                            </div>
                                            <div class="control-group">
                                                <div class="control-button">
                                                    <i class="fa-solid fa-minus" (click)="i.value = i.value - 1"></i>
                                                </div>
                                                <h3>{{i.value}}</h3>
                                                <div class="control-button">
                                                    <i class="fa-solid fa-plus" (click)="i.value = i.value + 1"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line-form"></div>
                </form>
            </div>
            <div class="search__wrapper">
                <button mat-raised-button color="primary">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>
<ng-template #hotelAndHomeSvg>
    <app-hotel-home-svg></app-hotel-home-svg>
</ng-template>
<ng-template #privateHomeSvg>
    <app-private-home-svg></app-private-home-svg>
</ng-template>