*{
    --icon-color: #333333
}
.home-banner{
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}
.home-banner .home-banner__background-image{
    width: 100%;
    height: 320px;
    position: absolute;
    z-index: -1;
}

.home-banner .home-banner__background-image::before{
    background-image: url(https://cdn6.agoda.net/images/MVC/default/background_image/illustrations/bg-agoda-homepage.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    
}
.banner-filter-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 24px
}
.banner-filter-container .welcome-message{
    color: #fff;
    text-align: center;
}
.banner-filter-container .welcome-message h2{
    text-transform: uppercase;
}
.banner-filter-container .welcome-message p{
    font-size: 2rem;
    font-weight: 500;
}
.home-banner .banner_filter{
    position: relative;
}
.home-banner .tab-list{
    height: 88px;
    width: 90%;
    background-color: #fff;
    display: flex;
    padding: 0 64px;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    z-index: 9999;
}
.home-banner .tab-list .tab-item{
    flex: 1;
    color: #4B4F56;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.home-banner .tab-list .tab-item.active{
    color: var(--primary-color)
}
.home-banner .tab-list .tab-item.active::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
}
::ng-deep .home-banner .tab-list .tab-item svg.svg-bh{
    width: 34px;
    height: 34px;
    
}

.home-banner .banner_filter .tab-content{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    margin-top: -16px;
    padding: 32px 48px 64px;
    background-color: #F8F7F9;
}
.home-banner .banner_filter .search__wrapper{
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
}
.home-banner .banner_filter .search__wrapper button{
    width: 490px;
    height: 64px;
    font-size: 2rem;
}
// form
.filter-form .line-form{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    min-height: 66px;
}
.filter-form i{
   font-size: 2rem;
}
.filter-form .line-form .icon__wrapper{
   padding: 10px
}
.filter-form .line-form .icon__wrapper i{
    font-size:  2rem;
    color: #333333
}
.filter-form .line-form input{
    outline: none;
    flex: 1;
    font-size: 1.6rem;
    padding: 0;
}
.filter-form .button-group__wrapper {
    margin-bottom: 20px
}
.filter-form .button-group__wrapper .button__wrapper{
    margin-right: 20px
}
.filter-form .button-group__wrapper .button__wrapper:last-child{
    margin-right: unset
}
.filter-form .line-form .line-form__fit-item {
    flex: 1;
    margin-right: 10px;
    position: relative;
    border-right: 1px solid #ccc
}
.filter-form .line-form .line-form__fit-item:last-child{
    border: unset
}
.filter-form .line-form .line-form__fit-item:last-child{
    margin-right: unset;
}
::ng-deep .filter-form .mat-form-field-underline{
    display: none;
}
::ng-deep .filter-form .mat-form-field-wrapper{
    padding: 0;
}
::ng-deep .filter-form .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
}
::ng-deep .filter-form .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon{
    width: 2.5rem;
    height: 2.5rem;
    color: var(--icon-color)
}
::ng-deep .filter-form mat-icon{
    width: 2.5rem;
    height: 2.5rem;
    color: var(--icon-color)
}
::ng-deep .filter-form .mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0 10px; 
}
::ng-deep .filter-form .mat-form-field-infix{
    padding: 0;
}
@keyframes slide-right {
    from {
        width: 100%;
        margin-left: 100px
    }
  }
#occupancy-box{
    position: relative;
    cursor: pointer;
    user-select: none;
}
#occupancy-box .occupancy__popup{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
}

#occupancy-box .occupancy__popup::before{
    border-bottom: 11px solid;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    display: block;
    height: 0;
    width: 0;
    border-bottom-color: #fff;
    content: "";
    margin-left: 24px;
    position: relative;
    animation: slide-right .3s ease-out;
}
.occupancy-selection{
    display: flex;
    align-items: center;
    flex: 1
}
.occupancy-selection .info-group{
    flex: 1;
    color: black;
}
.occupancy-selection .info-group p{
    font-size: 1.6rem;
    margin: 0;
    font-weight: 500;
}
.occupancy-selection .info-group p span{
    color: black;
    font-size: 1.6rem;
} 
.occupancy-selection .info-group span{
    font-size: 1.4rem;
    color: #999
}
.occupancy-selection .arrow-down__wrapper{
    display: flex;
    align-self: center;
    justify-content: center;
}
.occupancy-selection .arrow-down__wrapper.toggle{
    transform: rotate(180deg);
}

.occupancy-option__list{
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    width: 315px;
    animation: slide-right .3s ease-out
}
.occupancy-option__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px
}
.occupancy-option__item .control-group{
    display: flex;
    align-items: center;
}
.occupancy-option__item .control-group .control-button{
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.occupancy-option__item .control-group i{
    color: var(--primary-color);
    font-size: 1.8rem;
}
.occupancy-option__item .control-group h3{
    margin: 0 20px;
    font-size: 2rem;
}
.occupancy-option__item .info-group {
    padding: 8px;
}
.occupancy-option__item .info-group .label{
    font-size: 1.6rem;
    font-weight: 700;
}
.occupancy-option__item .info-group .sub-label{
    font-size: 1.2rem;
}